In [1]:
#import necessary packages
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
df=pd.read_csv("C:/Users/abhin/Downloads/task1_dataset/Housing.csv")
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [3]:
df.dropna()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [4]:
#define X and y
x=df[['area','bedrooms','bathrooms']]
y=df['price']

In [5]:
#split the data
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [6]:
#train the model
model = LinearRegression()

model.fit(X_train, Y_train)

LinearRegression()

In [7]:
print("Coefficient:",model.coef_)
print("Intercept:",model.intercept_)

Coefficient: [3.45466570e+02 3.60197650e+05 1.42231966e+06]
Intercept: 59485.37920871563

In [8]:
y_pred=model.predict(X_test)
data=pd.DataFrame({'Actual':Y_test,'Prediction':y_pred})
data

      Actual    Prediction
316  4060000  6.383168e+06
77   6650000  6.230250e+06
360  3710000  3.597885e+06
90   6440000  4.289731e+06
493  2800000  3.930446e+06
..       ...           ...
15   9100000  4.995395e+06
357  3773000  5.316679e+06
39   7910000  6.417715e+06
54   7350000  6.057517e+06
155  5530000  6.092064e+06

[109 rows x 2 columns]

In [9]:
error=mean_squared_error(Y_test,y_pred)
print("Mean Squared Error is ",error)

Mean Squared Error is  2750040479309.0513